[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000
  framework = "vite"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
